@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.loading {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
          animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  width: 30px;
  height: 30px;
  border: 8px solid blue;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  direction: ltr;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

a:active {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:focus {
  text-decoration: none;
  color: #000;
}

body {
  overflow: hidden;
}

body > .loading {
  display: none;
}

body > .navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-width: 320px;
  padding: 20px 0;
  background-color: transparent;
  height: 50px;
  overflow: hidden;
  -webkit-transition: all 1.8s;
  transition: all 1.8s;
  font-family: sans-serif;
}

body > .navbar > .menu {
  width: 100%;
  padding: 0 5%;
}

body > .navbar > .menu > .brand {
  padding: 15px 0;
  position: relative;
  float: left;
  line-height: 20px;
  letter-spacing: 1px;
  z-index: 1000;
}

body > .navbar > .menu > .brand > .brand-logo {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  margin-top: -6px;
}

body > .navbar > .menu > .brand > .brand-name {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 20px;
}

body > .navbar > .menu > .elements {
  position: fixed;
  top: -100%;
  right: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
}

body > .navbar > .menu > .elements.show {
  top: 0;
}

body > .navbar > .menu > .elements > .elements-container {
  width: 100%;
  height: 141px;
  text-align: center;
}

body > .navbar > .menu > .elements > .elements-container > a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  float: left;
  width: 100%;
  font-size: 14px;
  padding: 15px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

body > .navbar > .menu > .elements > .elements-container > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

body > .navbar > .menu > .nav-mobile {
  display: block;
  position: relative;
  float: right;
  padding: 15px;
  height: 21.5px;
  z-index: 1000;
}

body > .navbar > .menu > .nav-mobile > .hamburger {
  position: relative;
}

body > .navbar > .menu > .nav-mobile > .hamburger .line {
  width: 23px;
  height: 4px;
  background-color: #ecf0f1;
  display: block;
  margin: 2px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body > .navbar > .menu > .nav-mobile > .hamburger:hover {
  cursor: pointer;
}

body > .navbar > .menu > .nav-mobile > .hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

body > .navbar > .menu > .nav-mobile > .hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

body > .navbar > .menu > .nav-mobile > .hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(-45deg);
  -ms-transform: translateY(-6px) rotate(-45deg);
  transform: translateY(-6px) rotate(-45deg);
}

body > #content {
  opacity: 0;
  position: relative;
}

body > #content > .container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
}

body > #content > .container > .row {
  width: 100%;
  position: relative;
  text-align: center;
}

body > #content > .container > .row > .container-description {
  width: 90%;
  margin: 15px 5%;
  padding-left: 15px;
  padding-right: 15px;
  color: #595959;
}

body > #content > .container > .row > .container-description > .title {
  margin: 0 0 35px 0;
  font-weight: 700;
  font-size: 30px;
}

body > #content > .container > .row > .container-description > .description {
  margin: 0 0 25px 0;
  font-size: 18px;
}

body > #content > #welcome {
  min-height: 480px;
  background-image: url("../images/website-design-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body > #content > #welcome > .presentation {
  position: absolute;
  width: 320px;
  height: 320px;
}

body > #content > #welcome > .presentation > .logo {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

body > #content > #welcome > .presentation > .logo > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

body > #content > #welcome > .presentation > .text {
  overflow: visible;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: roboto, sans-serif;
  letter-spacing: 2px;
  margin-top: 20px;
  position: relative;
  top: 0;
  -webkit-transition: top 1.4s;
  transition: top 1.4s;
}

body > #content > #welcome > .presentation > .text > h1 {
  font-size: 40px;
}

body > #content > #welcome > .presentation > .text > h3 {
  font-size: 25px;
  margin-top: 10px;
}

body > #content > #portfolio {
  display: none;
  width: 100%;
  height: auto;
}

body > #content > #portfolio .portfolio-item {
  width: 90%;
  margin: 15px 5%;
  padding-left: 15px;
  padding-right: 15px;
  height: 260px;
  float: left;
  position: relative;
  overflow: hidden;
}

body > #content > #portfolio .portfolio-item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
}

body > #content > #portfolio .portfolio-item > .caption {
  cursor: default;
  color: #fff;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
  z-index: 100;
  background-color: rgba(255, 67, 67, 0.8);
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-title {
  position: absolute;
  text-align: center;
  top: 0;
  left: -100%;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 12px;
  padding: 0 5px;
  background-color: #000;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-title > h3 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-description {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  height: 260px;
  line-height: 260px;
  padding: 5px 5px;
  text-align: justify;
  font-size: 12px;
  min-height: 1px;
  -webkit-transition: right 0.5s;
  transition: right 0.5s;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-description > p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-btn {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  min-height: 1px;
  text-align: center;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
}

body > #content > #portfolio .portfolio-item > .caption > .caption-btn > a {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}

body > #content > #portfolio .portfolio-item:hover > .caption, body > #content > #portfolio .portfolio-item:focus > .caption, body > #content > #portfolio .portfolio-item:active > .caption {
  opacity: 1;
}

body > #content > #portfolio .portfolio-item:hover > .caption > .caption-title, body > #content > #portfolio .portfolio-item:focus > .caption > .caption-title, body > #content > #portfolio .portfolio-item:active > .caption > .caption-title {
  left: 0;
}

body > #content > #portfolio .portfolio-item:hover > .caption > .caption-description, body > #content > #portfolio .portfolio-item:focus > .caption > .caption-description, body > #content > #portfolio .portfolio-item:active > .caption > .caption-description {
  right: 0;
}

body > #content > #portfolio .portfolio-item:hover > .caption > .caption-btn, body > #content > #portfolio .portfolio-item:focus > .caption > .caption-btn, body > #content > #portfolio .portfolio-item:active > .caption > .caption-btn {
  bottom: 10px;
}

body > #content > #presentation {
  display: none;
  width: 100%;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
}

body > #content > #presentation .presentation-text {
  text-align: justify;
  margin: 0 0 35px;
  font-size: 18px;
  line-height: 1.6;
  color: #595959;
  font-weight: 300;
}

body > #content > #presentation .presentation-text a {
  text-decoration: underline;
}

body > #content > #contact {
  display: none;
  padding-bottom: 100px;
  height: 490px;
  margin: 0;
  background: url("../images/background-contact.jpg") no-repeat center;
  text-align: center;
}

body > #content > #contact .row > .container-description {
  color: #fff;
}

body > #content > #contact .button-wrapper {
  width: 100%;
  text-align: center;
  display: block;
  margin: 15px 0;
}

body > #content > #contact .button-wrapper .social-network {
  border: 1px solid #fff;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #fff;
}

body > #content > #contact .button-wrapper .social-network:hover {
  border-color: #000;
  color: #000;
  background-color: #fff;
}

body.start > .loading {
  display: block;
  position: absolute;
  margin: -15px 0 -15px;
}

body.start > .navbar {
  padding: 0;
  top: -100%;
}

body.start > #content > #welcome > .presentation > .logo {
  opacity: 0;
}

body.start > #content > #welcome > .presentation > .text {
  top: 200%;
}

body.animated > .navbar {
  padding: 0;
  top: 0;
  width: 100%;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

body.animated > #content > .loading {
  display: none;
}

body.animated > #content > #welcome > .presentation > .logo {
  opacity: 1;
}

body.animated > #content > #welcome > .presentation > .text {
  top: 0;
}

body.done {
  overflow: auto;
}

body.done > .navbar {
  padding: 0;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 815px) {
  body > .navbar > .menu > .elements {
    position: relative;
    top: 0;
    float: right;
    z-index: 1000;
    width: 400px;
    height: auto;
    background-color: transparent;
  }
  body > .navbar > .menu > .elements > .elements-container {
    text-align: right;
    padding: 15px;
  }
  body > .navbar > .menu > .elements > .elements-container > a {
    width: 104px;
    float: none;
    width: auto;
  }
  body > .navbar > .menu > .nav-mobile {
    display: none;
  }
  body > #content > .container > .row {
    width: 90%;
    margin: 0 5%;
  }
  body > #content > #portfolio {
    text-align: center;
  }
  body > #content > #portfolio .portfolio-item {
    width: 33.33333333333333%;
    margin: 0 33.333333333%;
    height: 260px;
    float: left;
  }
  body > #content > #portfolio .portfolio-item > .caption > .caption-title {
    font-size: 13px;
  }
  body > #content > #portfolio .portfolio-item > .caption > .caption-description {
    font-size: 13px;
  }
  body > #content > #contact .button-wrapper {
    display: inline;
    width: auto;
    margin: 15px 15px;
  }
  body.done > .navbar {
    padding: 20px 0;
    height: 80px;
    background-color: transparent;
    border-bottom: transparent;
  }
  body.scrolled > .navbar {
    padding: 0;
    background-color: #000;
    height: 50px;
    border-bottom: 1px solid #fff;
  }
}
/*# sourceMappingURL=style.css.map */